<table class="tx-custombox" >
	<tr>
		<td>
			<f:translate key="tx_custombox_domain_model_boxinhalt.title" />
		</td>
		<td>
			{boxInhalt.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_custombox_domain_model_boxinhalt.text" />
		</td>
		<td>
			{boxInhalt.text}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_custombox_domain_model_boxinhalt.link" />
		</td>
		<td>
			{boxInhalt.link}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_custombox_domain_model_boxinhalt.special" />
		</td>
		<td>
			{boxInhalt.special}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_custombox_domain_model_boxinhalt.ueberschrift" />
		</td>
		<td>
			{boxInhalt.ueberschrift}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_custombox_domain_model_boxinhalt.leer" />
		</td>
		<td>
			{boxInhalt.leer}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_custombox_domain_model_boxinhalt.bild" />
		</td>
		<td>
			{boxInhalt.bild}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_custombox_domain_model_boxinhalt.titleonly" />
		</td>
		<td>
			{boxInhalt.titleonly}
		</td>
	</tr>
</table>